.feedback {
  color: #222222;
}

.total {
  composes: feedback;
  font-weight: bold;
}

.percentage {
  display: inline-block;
  composes: feedback;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid teal;
}
